@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: inter;
}
*{
   margin: 0px;
   padding: 0px;
   font-family: inter;
}

button:hover{
   cursor: pointer;
}

body{
   background-color: #1A1F1B;
}

/*Configuração do header*/
#header_pagina{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #3E5641;
  border-bottom: solid 1px black;
  position: sticky;
  top: 0;
}
#header_pagina img{
  width: 80px;
}

#header_pagina a{
  color:#D6C4A8;
  text-decoration: none;
  font-weight: 400;
  transition: 0.3s;
}
#header_pagina a:hover /*validar*/{
  font-weight: 500;
  scale: 1.1;
  text-decoration: underline solid 1px #D6C4A8;
  background-color: #3CA197;
  padding: 6px;
  border-radius: 40px;
}
#header_pagina a:active /*validar*/{
  transition: 0.1s;
  color: white;
  text-decoration: underline solid 1px white;
}
#header_pagina span {
  background-color: #3CA197;
  padding: 6px;
  border-radius: 40px;
}

/* página */

.principal{
   display: flex;
   justify-content: space-evenly;
}
/* Configuraçãao da estrututra do post */
.card{
   background-color: #3E5641;
   height: fit-content;
   margin-top: 65px;
   border-radius: 8px;
   box-shadow: 0 0 10px;
}

.post{
   padding:15px;
}
.scroll_post{
   display: flex;
   flex-direction: column;
   margin-left: 250px;
}
/* Configuração do titulo do post */
.titulo{
   display: flex;
   justify-content: space-between;
   
}

.titulo span{
   color:white;
   padding-bottom: 10px;
   font-size: 20px;
}

.titulo_1{
   width: 300px;
   word-break: break-word;
}
.titulo_2{
   width: 120px;
   word-break: break-word;
   color:white;
   padding-bottom: 10px;
   font-size: 20px;
   text-align: end;
}

/* configuração da imagem do post */
.relato_imagem{
   background-color: #A3422C;
   width: 420px;
   height: 220px;
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
}

.relato_imagem img{
   width: 400px;
   padding-top: 5px;
   padding-bottom: 5px;
}
/* Configuração do botão embaixo da imagem do post */
.ups{
   margin-bottom: 10px;
   box-shadow: 0 0 10px;
   width: 100px;
   display: flex;
   justify-content: center;
}

.ups button{
   background: transparent;
   width: 25px;
   height: 25px;
   font-size: 15px;
   margin-left: 10px;
   margin: 10px;
}
.ups span{
   text-align: center;
   padding-top: 5px;
   font-size: 20px;
}
/* Configuração da descrição */
.descricao{
   background-color: #D6C4A8;
   width: 420px;
   height: 110px;
   margin-bottom: 15px;
   border-radius: 8px;
   display: flex;
}

.descricao div{
   overflow: auto;
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.descricao h4{
   font-size: 15px;
   font-weight:600;
}

.descricao span{
   word-break: break-word;
   font-size: 12px;
}


/* Configurar os comentarios */
/* insert nos comentario */
.inserir_comentario{
   display: flex;
   flex-direction: column;
   transition: 0.5s;
}

.inserir_comentario button{
   width: 100px;
   color: white;
   border-radius: 40px;
   border: none;
   padding: 5px 0px;
   background-color: #A3422C;
   transition: 0.5s;
}

.inserir_comentario button:hover{
   scale: 1.09;
   cursor: pointer;
}
.inserir_comentario button:active{
   background-color: white;
   color: #A3422C;
}

.adicionar_comentario{
   width: 407px;
   height: 30px;
   padding-left: 10px;
   background: #D6C4A8;
   border: none;
   border-radius: 10px;
   margin-bottom: 5px;
   color: black;
}
.adicionar_comentario:hover{
   scale: 1.05;
   margin-bottom: 10px;
}
.adicionar_comentario:focus{
   scale: 1.05;
   margin-bottom: 10px;
}
/* vizualização dos comentários */

.visualizar_comentario{
   background: transparent;
   border: solid 2px #A3422C;
   padding-bottom: 10px;
   margin-top: 15px;
   border-radius: 10px;
   height: 180px;
   overflow-x: auto;
}


.visualizar_comentario h3{
   padding-left: 10px;
   padding-top: 5px;
   padding-bottom: 20x;
   color: white;
}
/* Campo de inserir e ver comentarios de outros usuários */
.comentario_campo{
   margin-top: 10px;
   margin-left: 5px;
   color: black;
   background-color: #D6C4A8;
   width:370px ;
   border-radius: 20px;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 15px;
   margin-bottom: 10px;
}

.comentario_campo{
   display: flex;
   flex-direction: row;
   margin-top: 15px;
}

.comentario_texto span{
   word-break: break-word;
   font-weight: 500;
   font-size: 11px;
}

.comentario_texto h4{
   word-break: break-word;
   font-weight: 800;
   font-size: 16px;
}

.comentario_texto{
   width:100px;
   padding-top: 10px;
   padding-bottom: 15px;
   padding-left: 10px;
   flex:1;
   padding-right: 10px;
}

.comentario_nome_usuario{
   height:fit-content;
}

.comentario_usuario{
   height: fit-content;
}

/* Configuraação dos destaques */

.destaque{
   width: 300px;
   height: 500px;
   position:sticky;
   top: 100px;
   box-shadow: 0 0 10px;
   word-break: break-word;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.destaque h4{
   color: white;
   padding: 10px;
   text-align: center;
   font-size: 30px;
   font-weight: 500;
}

.destaque div{
      margin-top: 20px;
      text-align: center;
      padding-left: 5px;
}

.destaque div span{
   color: white;
}

.destaque img{
   width: 100px;
}
