
/* Configuração do campos */
.campo{
    box-shadow: 0 0 10px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

/* Configuração do campo titulo - Novo Post */
.titulo{
    width: 700px;
    border-radius: 3px;
    background-color: #3E5641;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75px;
}

.titulo span {
    font-size: 26px;
    font-weight: 200;
    margin-bottom: 5px;
    color: white;
}

.titulo input{
    width: 99%;
    background-color: #D6C4A8;
    border: none;
    height: 25px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 200;
    border-radius: 8px;
    transition: 0.5s;
}

.titulo input:hover{
    scale: 1.05;
}

.titulo input:focus{
    scale: 1.05;
}

/* Configuração do campo imagem - Novo Post */
.imagem_carregar{
    background-color: #3E5641;
    border-radius: 3px;
    margin-bottom: 30px;
    width: 700px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.imagem_carregar .texto{
    background-color: #A3422C;
    color: white;
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    font-size: 15px;
}

.imagem_carregar .input_arquivo{
    background-color: #A3422C;
    margin-top: 15px;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    color: #FFFAF0;
}

/* Configuração do campo de descrição - Novo Post */
.descricao{
    width: 700px;
    border-radius: 3px;
    background-color: #3E5641;
    padding: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.descricao span{
    font-size: 24px;
    font-weight: 100;
    color: white;
}

.descricao textarea{
    margin-top: 10px;
    height: 150px;
    width: 98%;
    background-color: #D6C4A8;
    border-radius: 8px;
    padding: 5px;
    word-break: break-word;
    transition: 0.5s;
    font-size: 15px;
}


.descricao button{
    width: 150px;
    height: 30px;
    background-color: #A3422C;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    transition: 0.3s; /*Validar*/
 }

.descricao button:hover{
    transition: 0.3s;
    scale: 1.05; 
    border: solid 1px #ffffff;
 }
.descricao button:active {
   transition: 0.3s;
   background-color: white;
   color:  #A3422C;
   border: solid 1px #A3422C;
}