@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: inter;
}
body{
    background-color: #1A1F1B;
}

.dashboard{
    display: flex;
    
}

.painel{
    background-color: #3E5641;
    box-shadow: 0 0 10px;
    height: 100vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.painel h3{
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    font-weight: 400;
}

.botao-sair{
    margin-bottom: 30px;
    color: white;
    align-self: center;
    width: 80%;
    height: fit-content;
    font-size: 25px;
    background-color: #A3422C;
    border: none;
    transition: 0.5s;
}
.botao-sair:hover{
   transition: 0.5s;
   scale: 1.1;
   cursor: pointer;
}
.botao-sair:active{
   background-color: white;
   color: #A3422C;
   border: solid 2px #A3422C;
}

.quadro{
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 110vh;
    margin-bottom: 150px;
}

/* customizaçõ dos graficos */

#grafico_up{
    background-color: #D9D9D9;
    margin-left: 10%;
    box-shadow: 0 0 18px #111111;
}

#grafico_comentario{
    background-color: #D9D9D9;
    margin-left: 5%;
    box-shadow: 0 0 18px #111111;
}



/* customizaçaão do filtro */
.escolha_filtro{
    background-color: #A3422C;
    height: 280px;
    width: 160px;
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 10px;
    overflow-x: auto;
}

.escolha_filtro button{
    color: aqua;
    width: 130px;
    background-color: blue;
    text-align: center;
    height: fit-content;
    margin-top: 15px;
    border: none;
    height: fit-content;
    font-size: 25px;
    align-self: center;
}

#post_button{
    margin-bottom: 0px;
}

#tipo_button{
    margin-bottom: 0px;
}


/* .texto-limite {
  white-space: nowrap;       /* Impede quebra de linha */
 /* overflow: hidden;          /* Oculta o texto excedente */
  /* text-overflow: ellipsis;   /* Adiciona reticências no final */
/*} */