@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: inter;
}
body{
    background-color: #1A1F1B;
}

.dashboard{
    display: flex;
    flex-direction: row;
}

.painel{
    background-color: #3E5641;
    box-shadow: 0 0 10px;
    height: 100vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.painel h3{
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    font-weight: 400;
}

.botao-sair{
    margin-bottom: 30px;
    color: white;
    align-self: center;
    width: 80%;
    height: fit-content;
    font-size: 25px;
    background-color: #A3422C;
    border: none;
    transition: 0.5s;
}
.botao-sair:hover{
   transition: 0.5s;
   scale: 1.1;
   cursor: pointer;
}
.botao-sair:active{
   background-color: white;
   color: #A3422C;
   border: solid 2px #A3422C;
}


/* customizaçaão do filtro */
.escolha_filtro{
    background-color: #A3422C;
    padding-top: 1.5vh;
    max-height: 400px;
    width: 200px;
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 10px;
    overflow-x: auto;
}

#post_button{
    padding: 0.6vh;
    margin-bottom: 1.5vh;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    background-color: #ffffff22;
    border: none;
    width: fit-content;
    font-size: 3.8vh;
    align-self: center;
    transition: background-color 0.3s ease-in-out;
}

#post_button:hover{
    background-color: #62aa77;
    color: black;
}

#tipo_button{
    margin-bottom: 0px;

}

/* Configuração do ccampo dos graficos */

.grafico{
    display: flex;
    flex-direction: column;
    width: 99%;
    padding: 1rem;
}

/* Configurção no quadro de KPI */

.quadro_kpis{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.div_kpi{
    margin-top: 5vh;
    width: 40vh;
    height: 10vh;
    box-shadow: 0 0 10px #3E5641;
    background-color: #3E5641;
    border-radius: 3px;
    text-align: center;
    padding: 1rem;
    
}

.div_kpi h3{
    color: #c4ae75;
    margin-bottom: 0.5rem;
}

.div_kpi p{
    font-size: 1.4rem;
    font-weight: bold;
    color: #e6d6b8;
}

.header h1 {
      font-size: 2rem;
      color: #e6d6b8;
      border-bottom: 2px solid #c4ae75;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
    }

/* configuraçaõ grafico */

.div_graficos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 70%;
}

.div_grafico{
    background-color: #3E5641;
    box-shadow: 0 0 10px rgb(62, 86, 65, 0.8);
    margin-top: 10vh;
    padding: 5vh;
    border-radius: 3px;
    height: fit-content;
    max-height: 240px;
    width: 300px;
    top: 0;
}

.canvas_grafico{
    width: 100%;
    max-height: 300px;
}

.fundo-grafico{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
}



/* Configuração painel */
.painel_post{
    background-color: white;
    width: 850px;
    height: 550px;
    position: fixed;
    top: 3vh;
    right: 15vh;
    border-radius: 5px;
    z-index: 100000;
}

.header_painel{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.header_painel button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 900;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.quadro{
    display: flex;
    flex-direction: column;
}

.quadro_grafico{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* Configurção da div que tera os post */

.categoria_post{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

/* Configuração dos post */
.card_post{
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 3px;
    transition: 0.3s;
    margin: 8px;
}
.card_post:hover{
    cursor: pointer;
    scale: 1.05;
}

.card_post img{
    width: 250px;
    height: 150px;
    padding: 5px;
}

.card_post h3{
    text-align: center;
    font-family: Source Serif 4;
    width: 250px;
    padding: 4px;
    overflow-x: auto;
}