
/* página */

.principal{
   display: flex;
   justify-content: space-evenly;
}
/* Configuraçãao da estrututra do post */
.card{
   background-color: #3E5641;
   height: fit-content;
   margin-top: 65px;
   border-radius: 8px;
   box-shadow: 0 0 10px;
}

.post{
   padding: 15px;
   display: flex;
}
.scroll_post{
   display: flex;
   flex-direction: column;
   margin-left: 250px;
}
/* Configuração do titulo do post */
.titulo{
   display: flex;
   justify-content: space-between;
   font-family: inter;
}

.titulo span{
   color:white;
   padding-bottom: 10px;
   font-size: 20px;
}

.titulo_1{
   width: 300px;
   word-break: break-word;
}
.titulo_2{
   width: 120px;
   word-break: break-word;
   color:white;
   padding-bottom: 10px;
   font-size: 20px;
   text-align: end;
}

/* configuração da imagem do post */
.imagem_post{
   display: flex;
}
.relato_imagem{
   background-color: #A3422C;
   width: 420px;
   height: 220px;
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
}

.relato_imagem img{
   width: 400px;
   padding-top: 5px;
   padding-bottom: 5px;
}
/* Configuração do botão embaixo da imagem do post */
.votacao{
   margin-left: 10px;
   align-self: center;
}

.ups{
   margin-bottom: 10px;
    border: solid 3px #A3422C;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: space-around;
}

.ups button{
   background: transparent;
   width: fit-content;
   height: fit-content;
   font-size: 5vh;
   border: none;
   padding-top: 7px;
}

.ups button:hover{
   cursor: pointer;
   scale: 1.2;
}

.img_botao{
   width: 35px;
   height: 35px;
}

.ups span{
   text-align: center;
   padding-top: 5px;
   font-size: 20px;
}

.like_upDown{
   width: it-content;
   min-width: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.like_upDown span{
   color: white;
   font-size: 16px;
}


/* Configuração da descrição */
.descricao{
   background-color: #D6C4A8;
   width: 470px;
   height: 110px;
   margin-bottom: 15px;
   border-radius: 8px;
   display: flex;
   font-family: inter;
}

.descricao div{
   overflow: auto;
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.descricao h4{
   font-size: 15px;
   font-weight:600;
}

.descricao span{
   word-break: break-word;
   font-size: 12px;
}


/* Configurar os comentarios */
/* insert nos comentario */
.inserir_comentario{
   display: flex;
   flex-direction: column;
   transition: 0.5s;
   font-family: inter;
}

.inserir_comentario button{
   width: 100px;
   color: white;
   border-radius: 40px;
   border: none;
   padding: 5px 0px;
   background-color: #A3422C;
   transition: 0.5s;
   font-family: inter;
}

.inserir_comentario button:hover{
   scale: 1.09;
   cursor: pointer;
}
.inserir_comentario button:active{
   background-color: white;
   color: #A3422C;
}

.adicionar_comentario{
   width: 460px;
   height: 30px;
   padding-left: 10px;
   background: #D6C4A8;
   border: none;
   border-radius: 10px;
   margin-bottom: 5px;
   transition: 0.5s;
   color: black;
   font-family: inter;
}
.adicionar_comentario:hover{
   scale: 1.05;
   margin-bottom: 10px;
}
.adicionar_comentario:focus{
   scale: 1.05;
   margin-bottom: 10px;
}
/* vizualização dos comentários */
.img_comentario{
   position: relative;
   z-index: 10;
   display: flex;
   justify-content: space-between;
   
}

.img_comentario button{
   margin-bottom: 10px;
   padding: 2px;
   border: none;
   width: 150px;
   color: white;
   border-radius: 40px;
   border: none;
   padding: 5px 0px;
   background-color: #A3422C;
   transition: 0.5s;
   font-family: inter;
}

.img_comentario button:hover{
   scale: 1.09;
   cursor: pointer;
}
.img_comentario button:active{
   background-color: white;
   color: #A3422C;
}

.img_comentario img{
   width: 35px;
   height: 40px;
   margin-top: -15px;
   opacity: 0.3;
   transition: 0.9s;
}   

.img_comentario img:hover{
   cursor: pointer;
   transition: 0.9s;
   scale: 1.05;
   opacity: 1;
  filter: drop-shadow(0 0 10px white);
}

.img_comentario img:active{
   scale: 1.15;
   transition: 0.1s;
}

.titulo_comentario{
   border: solid 2px black;
}

.container{
   border: solid 2px #A3422C;
   background: transparent;
   padding-bottom: 10px;
   margin-top: 15px;
   border-radius: 10px;
   height: 180px;
   overflow-x: auto;
}

.visualizar_comentario h3{
   padding-left: 10px;
   padding-top: 5px;
   padding-bottom: 20x;
   color: white;
}
/* Campo de inserir e ver comentarios de outros usuários */
.campo_comentario{
   transition: 1s;
   font-family: inter;
}
.comentario_campo{
   margin-top: 10px;
   margin-left: 5px;
   color: black;
   background-color: #D6C4A8;
   width:420px ;
   border-radius: 20px;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 15px;
   margin-bottom: 10px;
   
}

.comentario_campo{
   display: flex;
   flex-direction: row;
   margin-top: 15px;
}

.comentario_texto span{
   word-break: break-word;
   font-weight: 500;
   font-size: 11px;
}

.comentario_texto h4{
   word-break: break-word;
   font-weight: 800;
   font-size: 16px;
}

.comentario_texto{
   width:100px;
   padding-top: 10px;
   padding-bottom: 15px;
   padding-left: 10px;
   flex:1;
   padding-right: 10px;
}

.comentario_nome_usuario{
   height:fit-content;
}

.comentario_usuario{
   height: fit-content;
}

/* Configuraação dos destaques */

.destaque{
   width: 300px;
   height: 500px;
   position:sticky;
   top: 100px;
   box-shadow: 0 0 10px;
   word-break: break-word;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.destaque h4{
   color: white;
   padding: 10px;
   text-align: center;
   font-size: 30px;
   font-weight: 500;
}

.destaque div{
      margin-top: 20px;
      text-align: center;
      padding-left: 5px;
}

.destaque div span{
   color: white;
}

.destaque img{
   width: 100px;
}

/* Campo comentario */

.div_comentario{
   width: 130vh;
   height: 80vh;
   /* display: none; */
   z-index:10000000000000000000000;
   background-color: #D6C4A8;
   box-shadow: 0 2px 6px rgba(75, 58, 47, 0.12);
   border: solid 1px black;
   border-radius: 5px;
   top: 10vh;
   position:fixed;
   right: 35vh;
}

.titulo1{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 10px;
}

.titulo1 p{
   font-size: 30px;
   padding-right: 10px;
   margin-top: 5px;
   color: black;
   font-family: inter;
}

.titulo1 button{
   font-size: 23px;
   border-radius: 10px;
   padding: 7px;
   background-color: transparent;
   color: white;
   background-color: #A3422C;
   transition: 0.2s;
   box-shadow: 0 1px 4px rgba(75, 58, 47, 0.32);
}

.titulo1 button:hover{
   scale: 1.05;
   cursor: pointer;
}

.titulo1 button:active{
   color:#A3422C;
   background-color: white;
}

#textarea_comentario{
   height: max-content;
   display: flex;
   flex-direction: column;
   padding: 10px;

}

#textarea_comentario textarea{
   height: 55vh;
   padding: 5px;
   font-family: inter;
   font-size: 18px;
}

#textarea_comentario textarea:active{
   border: none;
}

#textarea_comentario button{
   margin-top: 10px;
   padding: 2px;
   border: none;
   width: 150px;
   color: white;
   border-radius: 40px;
   border: none;
   padding: 5px 0px;
   background-color: #A3422C;
   transition: 0.5s;
   font-family: inter;
   font-size: 18px;
}

#textarea_comentario button:hover{
scale: 1.05;
cursor: pointer;
}

#textarea_comentario button:active{
   color:#A3422C;
   background-color: white;
}